* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 18px;
  background-color: hsla(213, 44%, 30%, 1);
}
h1 {
  max-width: 940px;
  text-decoration:none ;
  font-size: 1.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
  color: #000;
}

img {
  width: 200px;
  min-height: 100%;
}

.contenedor-principal{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid gold;
  min-height: 500px;
  padding: 1em;
}
ul.contenedor-resturante {
  display: flex;
  list-style:none;
  flex-wrap: wrap;
  align-items: center;
  justify-content:left;
  flex-flow: wrap column;
  text-align: left;
  width: 250px;
}
li {
 font-size: 1em;
 color:darkorchid;
 list-style: none;
 font-weight: 700;
 text-align: left;
 line-height: 1.4;
}
li.remark{
  
  font-size: 1em;
  color:goldenrod;
  list-style: none;
  font-weight: 700;
  text-align: right;
}