* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: antiquewhite;
}

h1 {
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 20px;
  color: #73a963;
}

h2 {
  text-align: right;
  float: right;
  color: goldenrod;
  font-weight: 900;
  font-style: italic;
}

img {
  width: 200px;
  height: 200px;
}

.contenedor-resturante {
  display: inline-flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 250px;
}

li {
  margin: 1px auto;
  padding: 5px;
  font-size: 0.9em;
  color: black;
  list-style: none;
  font-weight: 700;
  text-align: left;
  line-height: 1;
}
