* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: hsla(213, 44%, 30%, 1);
}

h1 {
  max-width: 940px;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 20px;
  color: #89c078;
}

img.image {
  width: 200px;
  height: 200px;
}

.contenedor-resturante {
  display: inline-flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
}

li {
  margin: 1px auto;
  padding: 5px;
  font-size: 0.9em;
  color: black;
  list-style: none;
  font-weight: 700;
  text-align: left;
  line-height: 1;
}
