* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: hsla(213, 44%, 30%, 1);
  overflow: scroll;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App {

  display: grid;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content;
  text-align: center;
}

.contenedor-restaurante {
  list-style: none;
  align-items: center;
  justify-content:space-between;
  flex-flow: wrap row;
  text-align: center;
  padding: 20px;
  overflow: scroll;
  margin: 10px auto;
}

main {
  display:flex;
  flex-flow: row nowrap; 
  height: 1000px;
  overflow: scroll;
  width: 1000px;
}