* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: hsla(213, 44%, 30%, 1);
  overflow: scroll;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

section {
  position: relative;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  text-align: center;
}

.contenedor-restaurante {
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap row;
  text-align: center;
  float: inline-end;
  padding: 10px;
  overflow: scroll;
  margin: 10px;
  padding-left: 1rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  height: 1000px;
  overflow: scroll;
  width: 800px;
}